body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

header, .hero, footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 0 12vw;
}

header p {
    font-size: 24px;
    margin: 5px;
    color: #F9FAF8
}

.links a {
    margin-left: 15px;
}

a:link {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

a:visited {
    color: lightgray;
}

.hero {
    padding: 12vw;
    display: flex;
}

#text {
    flex: 1;
    padding-right: 10px; 
}

#image {
    background-color: gray;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#text h2 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0;
}

#text p {
    font-size: 18px;
    color: #E5E7EB;
}

#text button {
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 5px 30px;
    border-radius: 7px;
    border: none;
}

#info-section h3 {
    color: #1F2937;
    font-weight: bolder;
    font-size: 36px;
    text-align: center;
}

#squares {
    display: flex;
    justify-content: center;
    padding: 15px 19vw 60px 19vw;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
}

.square {
    box-sizing: border-box;
    width: 150px;
    height: 150px;
    border: #3882F6 3px solid;
    border-radius: 15px;
}

.subtext {
    font-size: 18px;
    text-align: center;
}

#quote {
    background-color: #E5E7EB;
    padding: 60px 19vw;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#quote-text {
    font-size: 36px;
    font-weight: 200;
    color: #1F2937;
    font-style: italic;
}

#quote-author {
    font-weight: 700;
    font-size: 24px;
    text-align: right;
}

#sign-up-section {
    padding: 80px 12vw;
}

#sign-up {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
    padding: 2.5vw 7vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#sign-up-text h4 {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
}

#sign-up-text p {
    font-size: 16px;
    margin: 0;
    font-weight: 300;
}

#sign-up button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: #F9FAF8 3px solid;
    border-radius: 5px;
    font-size: 18px;
    padding: .25em 2em; 
}

footer {
    padding: 25px;
}

footer p {
    display: flex;
    justify-content: center;
    align-items: center;
}